:root {
  --first-color: #ececec;
  --second-color: #9fd3c7;
  --third-color: #385170;
  --fourth-color: #142d4c;
  --fifth-color: lightsteelblue;
  --validate-color: #02c39a;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
}
.dropbtn {
  background-color: var(--first-color);
  color: var(--fourth-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 100%;
  font-size: calc(0.4rem + 0.9vw);
  text-transform: uppercase;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 100%;
}

.dropdown-content a {
  color: var(--fourth-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: inherit;
}
.dropdown-content a:active {
  background-color: var(--third-color);
  color: var(--first-color);
}
nav a:active {
  color: var(--fourth-color);
}
.dropdown:hover .dropbtn {
  background-color: var(--third-color);
  color: var(--first-color);
}
.button-container {
  display: flex;
  border-style: solid;
  border-color: var(--third-color);
  border-radius: 150px;
  background-color: var(--first-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 2em;
}

#validate {
  border-radius: 0 10em 10em 0;
}
#validate:hover {
  background-color: var(--third-color);
}
#validate:active {
  background-color: var(--validate-color);
}
#categories {
  height: 100%;
  border-radius: 10em 0 0 10em;
}
.separator {
  height: 1.5em;
  border: none;
  padding: 1px;
  background-color: var(--third-color);
  align-self: center;
}

.recommandations-container {
  width: 40%;
  height: auto;
  min-height: 60px;
  display: flex;
  flex-direction: column;
}
h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  font-size: calc(1rem + 0.6vw);
  color: var(--fourth-color);
}
h1 {
  margin-top: 2em;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  font-size: calc(1rem + 1vw);
  color: var(--fourth-color);
}

.wrapper {
  display: flex;
  max-width: 70vw;
  position: relative;
  margin-bottom: 1em;
}
.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  left: -22px;
  display: none;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child {
  margin-left: 0px;
}
.carousel img:hover {
  filter: blur(6px);
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

.contactitle {
  margin-left: 150px;
  margin-top: 2em;
}
form {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.contact {
  display: flex;
  flex-direction: column;

  margin: 50px 100px 0px 100px;
}
input {
  background-color: #e9e6dd;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 30%;
  box-shadow: 0 5px 5px -3px #b1b1b1;
}
textarea {
  background-color: #e9e6dd;
  display: flex;
  flex-direction: column;
  resize: none;
  border: none;
  border-radius: 5px;
  height: 90px;
  width: 30%;
  box-shadow: 0 5px 5px -3px #b1b1b1;
}

.submit {
  background-color: #e9e6dd;
  height: 30px;
  margin-top: 2em;
  padding: 10px;
  box-shadow: 0 5px 5px -3px black;
  border: none;
  width: 5%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 5px 5px -3px #b1b1b1;
  font-weight: bold;
  margin-left: 150px;
}

nav {
  height: 80px;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bolder;
  justify-content: flex-start;
  background-color: var(--third-color);
  color: var(--first-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.logo {
  background-image: "logosansfond.png";
  width: 100px;
  height: auto;
  padding-bottom: 15px;
  height: 80px;
}
nav a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--first-color);
  font-size: 1.2rem;
}
footer {
  position: absolute;
  background-color: var(--third-color);
  display: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-container-left {
  margin-right: 5rem;
  display: flex;
  align-items: center;
  width: calc(100% / 2);
  color: var(--first-color);
  font-weight: bold;
  margin-left: 1rem;
}
.footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% / 2);
  margin-right: 1rem;
  justify-content: center;
}
.social a {
  text-decoration: none;
  color: var(--first-color);
  display: flex;
}
.social a:active {
  color: var(--fourth-color);
}
.footer-container-left hr {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: var(--fourth-color);
}

/*About Us
*/
#page-about-us {
  background-image: url("../resources/background.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 7px 8px 0px;
}

a:link,
a:visited {
  /*je mets le texte cliquable*/
  text-decoration: none; /*retire le surlignement sous le lien*/
  color: white; /*défini la couleur du lien une fois cliqué dessus*/
}

a:hover {
  color: var(
    --fourth-color
  ); /*défini la couleur du lien lorsque l'on survole dessus*/
}

.about-us {
  position: absolute; /*met le fond de la même largeur que le texte*/
  top: 32%;
  transform: translateX(68%) translateY(-50%); /*change texte de place*/
}

.title-about-us {
  font-size: 80px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  border: thick double white;
}

/**********Titre about us**********/

.titre-about-us {
  font-size: 22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
  box-shadow: rgba(0, 0, 0, 0.44) 0px 7px 8px 0px;
  position: absolute;
  margin-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;
}

/**********Paragraphe about us**********/

.paragraph-about-us {
  font-size: 20px;
  color: black;
  letter-spacing: 0.1em;
  padding-left: 100px;
  margin-top: 15%;
}

.text-bio {
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
  margin-top: 2%;
}

.img-bio {
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 7px 8px 0px;
}

/**********Titre contact**********/

.title-contact {
  font-size: 22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
  box-shadow: rgba(0, 0, 0, 0.44) 0px 7px 8px 0px;
  position: absolute;
  margin-left: 9px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 3.8%;
}

/**********Paragraphe contact**********/

.text-contact {
  font-size: 20px;
  color: black;
  letter-spacing: 0.1em;
  margin-top: 19%;
  margin-right: -1.5%;
}

.bio-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 3%;
  padding-right: 130px;
  margin-top: 1%;
}

.img-contact {
  margin-top: 4.1%;
  margin-left: 4%;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 7px 8px 0px;
}

/**********Bouton contact**********/
.button-contact {
  font-size: 13px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
  box-shadow: rgba(0, 0, 0, 0.44) 0px 7px 8px 0px;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 24.3%;
  margin-right: 10%;
}

.img-contact:hover,
.img-bio:hover {
  /*Modifications lors du survol de souris*/
  animation: opac 2s; /*Ajoute texte sur image*/
  transform: scale(1.05); /* Ajoute zoom sur image */
}
